<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="cc754e4f82244795aaef58c404670655" class="chart-container" style="width:1800px; height:800px;"></div>
    <script>
        var chart_cc754e4f82244795aaef58c404670655 = echarts.init(
            document.getElementById('cc754e4f82244795aaef58c404670655'), 'white', {renderer: 'canvas'});
        var option_cc754e4f82244795aaef58c404670655 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u53f0\u5dde\u963f\u51e1\u8fbe\u80f6\u4e1a\u6e90\u5934\u5382\u5bb6",
                    "value": 73
                },
                {
                    "name": "\u4e39\u59ae\u767e\u8d27\u6709\u9650\u516c\u53f8",
                    "value": 64
                },
                {
                    "name": "\u65b0\u534e\u5347\u8d38\u6613",
                    "value": 54
                },
                {
                    "name": "\u4e49\u4e4c\u59d0\u5f1f2\u514310\u5143\u591a\u5143\u914d\u8d27\u9970\u54c1\u767e\u8d27\u7f8e\u5986\u6587\u5177",
                    "value": 51
                },
                {
                    "name": "\u91d1\u8d22\u6587\u5177",
                    "value": 49
                },
                {
                    "name": "\u9a6c\u817e\u7535\u5b50\u5546\u52a1\u6709\u9650\u516c\u53f8",
                    "value": 47
                },
                {
                    "name": "\u4e49\u4e4c\u5e02\u8d22\u53d1\u4e0d\u9508\u94a2\u5236\u54c1\u5546\u884c",
                    "value": 33
                },
                {
                    "name": "\u4e49\u4e4c\u5e02\u52b2\u529f\u80f6\u7c98\u5242\u6709\u9650\u516c\u53f8",
                    "value": 31
                },
                {
                    "name": "\u5c11\u5973\u7cfb\u521b\u610f\u793c\u54c1\u5382",
                    "value": 25
                },
                {
                    "name": "\u4e49\u4e4c\u5e02\u70ed\u8109\u6587\u4f53\u7528\u54c1\u6709\u9650\u516c\u53f8",
                    "value": 21
                },
                {
                    "name": "\u7855\u6d77\u4e94\u91d1",
                    "value": 19
                },
                {
                    "name": "\u5e7f\u4e1c\u4e92\u53d1\u4e0d\u9508\u94a2\u5236\u54c1\u5382",
                    "value": 19
                },
                {
                    "name": "\u79d1\u59ae\u6587\u5316\u7528\u54c1\u6709\u9650\u516c\u53f8",
                    "value": 18
                },
                {
                    "name": "\u82cd\u5357\u53bf\u610f\u5fb7\u5de5\u827a\u54c1\u5382 [\u7b14\u8bb0\u672c]",
                    "value": 16
                },
                {
                    "name": "\u4e49\u4e4c\u5e02\u65ee\u65ef\u706f\u5177\u6709\u9650\u516c\u53f8",
                    "value": 15
                },
                {
                    "name": "\u9ed8\u8f69\u793c\u54c1\u7b14\u4e1a",
                    "value": 13
                },
                {
                    "name": "\u660e\u8bda\u8d34\u7eb8",
                    "value": 12
                },
                {
                    "name": "\u7231\u5983\u516c\u53f8",
                    "value": 12
                },
                {
                    "name": "\u53cc\u4f1f\u73a9\u5177",
                    "value": 11
                },
                {
                    "name": "\u5929\u5929\u7cbe\u54c1\u5916\u8d38",
                    "value": 11
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "40%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u53f0\u5dde\u963f\u51e1\u8fbe\u80f6\u4e1a\u6e90\u5934\u5382\u5bb6",
                "\u4e39\u59ae\u767e\u8d27\u6709\u9650\u516c\u53f8",
                "\u65b0\u534e\u5347\u8d38\u6613",
                "\u4e49\u4e4c\u59d0\u5f1f2\u514310\u5143\u591a\u5143\u914d\u8d27\u9970\u54c1\u767e\u8d27\u7f8e\u5986\u6587\u5177",
                "\u91d1\u8d22\u6587\u5177",
                "\u9a6c\u817e\u7535\u5b50\u5546\u52a1\u6709\u9650\u516c\u53f8",
                "\u4e49\u4e4c\u5e02\u8d22\u53d1\u4e0d\u9508\u94a2\u5236\u54c1\u5546\u884c",
                "\u4e49\u4e4c\u5e02\u52b2\u529f\u80f6\u7c98\u5242\u6709\u9650\u516c\u53f8",
                "\u5c11\u5973\u7cfb\u521b\u610f\u793c\u54c1\u5382",
                "\u4e49\u4e4c\u5e02\u70ed\u8109\u6587\u4f53\u7528\u54c1\u6709\u9650\u516c\u53f8",
                "\u7855\u6d77\u4e94\u91d1",
                "\u5e7f\u4e1c\u4e92\u53d1\u4e0d\u9508\u94a2\u5236\u54c1\u5382",
                "\u79d1\u59ae\u6587\u5316\u7528\u54c1\u6709\u9650\u516c\u53f8",
                "\u82cd\u5357\u53bf\u610f\u5fb7\u5de5\u827a\u54c1\u5382 [\u7b14\u8bb0\u672c]",
                "\u4e49\u4e4c\u5e02\u65ee\u65ef\u706f\u5177\u6709\u9650\u516c\u53f8",
                "\u9ed8\u8f69\u793c\u54c1\u7b14\u4e1a",
                "\u660e\u8bda\u8d34\u7eb8",
                "\u7231\u5983\u516c\u53f8",
                "\u53cc\u4f1f\u73a9\u5177",
                "\u5929\u5929\u7cbe\u54c1\u5916\u8d38"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "80%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4e49\u52a1\u5b9e\u4f53\u5e97\u5206\u5e03\u6570\u636e",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cc754e4f82244795aaef58c404670655.setOption(option_cc754e4f82244795aaef58c404670655);
    </script>
</body>
</html>
